<ion-header style="height: 60px; background-color: white;">
  <ion-icon onclick="history.back()" style="    margin-top: 17px;
  margin-left: 15px;
  color: #b111d4;
  font-size: 27px;" name="arrow-back-outline"></ion-icon>
</ion-header>
<ion-content>
  <ion-row style="padding: 15px 35px 0px 35px;">
    <ion-col size="12" style="text-align: center;">
      <ion-button class="button">
        Ruta del Día
      </ion-button>
    </ion-col>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="miStringDeCancell" (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>

    <ion-col style="margin-top: 25px;" size="12">
      <div *ngFor="let retiro of retiros">
        <div class="card">
          <p class="title">
            {{retiro.title}}
          </p>
          <ion-button class="buttonRowDown" style="margin-left: auto;" (click)="show = !show" >
            <ion-icon class="iconRowDown" *ngIf="!show" name="caret-down-outline"></ion-icon>
            <ion-icon class="iconRowDown" *ngIf="show" name="caret-up-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="show" *ngIf="show">
          <p>ENCARGADO: {{retiro.encargado}}</p>
          <p>DIRECCIÓN: {{retiro.direccion}}</p>
          <p>DEPTO/TORRE: {{retiro.depto}}</p>
          <p>TÉLEFONO: {{retiro.telefono}}</p>
          <p>TÉLEFONO SECUNDARIO: {{retiro.telefonoSecndario}}</p>
        
          <div class="divBorder">
            <p>CANTIDAD DE PAQUETES</p>
             <ion-row style="text-align: center;color:#9a01cc;">
              <ion-col size="4">
                SANTIAGO <br> {{retiro.santiago}}
              </ion-col>
              <ion-col size="4">
                REGIONES <br> {{retiro.regiones}}
              </ion-col>
              <ion-col size="4">
                TOTAL <br> {{retiro.santiago + retiro.regiones}}
              </ion-col>
             </ion-row>
          </div>
        
          <div style="display: flex; text-align: center;">
            <ion-button style="--background: red;" class="buttonRetirado">
              NO RETIRADO
            </ion-button>
            <ion-button style="--background: green;" class="buttonRetirado">
              RETIRADO
            </ion-button>
          </div>
        </div>
      </div>
    </ion-col>
    
  </ion-row>
</ion-content>




   <!-- <ion-col style="margin-top: 25px;" size="12">
     <div class="card">3
      <p class="title">
        ANDREA BEAUTY LASH <br>
        Carolina Flores
      </p>
      <ion-button class="buttonRowDown" color="light"></ion-button>
        
        
     

    </div>

    <div class="card">
      <p class="title">
        BLOOM TO GIVE <br>
        Rocio Arana
      </p>
      <ion-button class="buttonRowDown" style="margin-left: auto;" (click)="show = !show">
        <ion-icon class="iconRowDown" *ngIf="!show" name="caret-down-outline"></ion-icon>
        <ion-icon class="iconRowDown" *ngIf="show" name="caret-up-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="card">
      <p class="title">
        CLARA STORE <br>
        Felipe Soto
      </p>
      <ion-button class="buttonRowDown" style="margin-left: auto;" (click)="show = !show">
        <ion-icon class="iconRowDown" *ngIf="!show" name="caret-down-outline"></ion-icon>
        <ion-icon class="iconRowDown" *ngIf="show" name="caret-up-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="card">
      <p class="title">
        MENGUANTE <br>
        Sofia Velez
      </p>
      <ion-button class="buttonRowDown" style="margin-left: auto;" (click)="show = !show">
        <ion-icon class="iconRowDown" *ngIf="!show" name="caret-down-outline"></ion-icon>
        <ion-icon class="iconRowDown" *ngIf="show" name="caret-up-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="card">
      <p class="title">
        ZOLDYCK CLOTHES <br>
        Ana Maria Lopez
      </p>
      <ion-button class="buttonRowDown" style="margin-left: auto;" (click)="show = !show">
        <ion-icon class="iconRowDown" *ngIf="!show" name="caret-down-outline"></ion-icon>
        <ion-icon class="iconRowDown" *ngIf="show" name="caret-up-outline"></ion-icon>
      </ion-button>
    </div>
    </ion-col>
    
    <ion-button class="button2">
      Total (15)
    </ion-button>
  </ion-row>
  <div class="show">
    <p>ENCARGADO: </p>
    <p>DIRECCIÓN: </p>
    <p>DEPTO/TORRE: </p>
    <p>TÉLEFONO: </p>
    <p>TÉLEFONO SECUNDARIO: </p>
  
    <div class="divBorder">
      <p>CANTIDAD DE PAQUETES</p>
       <ion-row style="text-align: center;color:#9a01cc;">
        <ion-col size="4">
          SANTIAGO <br> 
        </ion-col>
        <ion-col size="4">
          REGIONES <br> 
        </ion-col>
        <ion-col size="4">
          TOTAL <br> 
        </ion-col>
       </ion-row>
    </div>
  
    <div style="display: flex; text-align: center;">
      <ion-button style="--background: red;" class="buttonRetirado">
        NO RETIRADO
      </ion-button>
      <ion-button style="--background: green;" class="buttonRetirado">
        RETIRADO
      </ion-button>
    </div>
  </div> -->
    
