.buttonre{
  width: 250px;
  --background: #9a01cc;
  margin-left: auto;
  margin-right: auto;
}
.card{
  border-radius: 5px;
  background: #e6b2f1;
  padding: 8px;
  display: flex;
  margin-bottom: 21px;
}
.title{
  font-size: 15px;
  font-weight: bold;
}
.buttonRowDown{
  margin-right: 2px;
  width: 42px;
  padding: 0px;
  --background: white;
  height: 36px;
}

.iconRowDown{
  padding: 0px;
  margin: 0px;
  color: black;
  font-size: 44px;
}

.divBorder{
  border: solid #9a01cc;
  // padding: 5px;
  text-align: center;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}


.show{
  font-weight: bold;
}

p{
  margin: 2px;
}

.buttonRetirado{
  margin-left: auto;
  margin-right: auto;
}
