<ion-header style="height: 60px; ">
  <ion-icon onclick="history.back()" style="    margin-top: 17px;
  margin-left: 15px;
  color: #b111d4;
  font-size: 27px;" name="arrow-back-outline"></ion-icon>
</ion-header>
<ion-content>
  <ion-row style="padding: 15px 35px 0px 35px;">
    <ion-col size="12" style="text-align: center;">
      <ion-button class="button">
        Ruta del Día
      </ion-button>
    </ion-col>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="miStringDeCancell" (ionInput)="onInput($event)"
      placeholder="Buscar.."
      (ionCancel)="onCancel($event)">
    </ion-searchbar>

    <ion-col style="margin-top: 25px;" size="12">
      <div *ngFor="let entrega of entregas">
        <app-entrega [entrega]="entrega"></app-entrega>
      </div>
    </ion-col>
    <ion-button class="button2">
      Total (40)
    </ion-button>

  </ion-row>
</ion-content>
