
<h1 style="font-weight: bold; font-size: 15px; text-align: center;" >ENTREGADO A:</h1>

<ion-list
  style="
    margin-bottom:20px;
  "
  >
  <ion-radio-group >
    <ion-item >
      <label >Titular</label>
      <ion-radio slot="start" value="Titular"></ion-radio>
    </ion-item>
    <ion-item >
      <label >Familiar</label>
      <ion-radio slot="start" value="Familiar"></ion-radio>
    </ion-item>
    <ion-item >
      <label >Vecino (a)</label>
      <ion-radio slot="start" value="Vecino"></ion-radio>
    </ion-item>
    <ion-item >
      <label >Conserjeria</label>
      <ion-radio slot="start" value="Conserjeria"></ion-radio>
    </ion-item>
    <ion-item >
      <label >Otro</label>
      <ion-radio slot="start" value="Otro"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

<div
  style="
    margin-bottom: 25px;
    text-align:center;
  "
  >
  <a
    style="
      cursor: pointer;
      text-decoration: none !important;
      color:black;
      text-decoration: underline;

    "
    >
    <ion-icon
      name="camera-outline"
      style="
        margin-bottom: -7px;
        margin-left: 0px !important;
      "
    ></ion-icon>
    Subir Imagen
  </a>
</div>
<ion-item>
      <ion-label position="floating">Nombre del Receptor</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Observación</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>



    <div
  style="
    margin-top:20px;
    text-align:center;
  "
  >
  <ion-button class="button2">
    GUARDAR
  </ion-button>
</div>
