<h1 style="font-weight: bold; font-size: 15px; text-align: center;" >ENTREGADO A:</h1>

     <ion-grid>
      <ion-row>
        <ion-col>
         
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Titular</label>
        </ion-col>
        <ion-col>
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Familiar</label>
        </ion-col>
        <ion-col>
          
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Vecino (a)</label>
        </ion-col>
        <ion-col>
          
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Conserjeria</label>
        </ion-col>
        <ion-col>
          
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Otro</label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-icon  name="camera-outline"></ion-icon>

    <ion-item>
      <ion-label position="floating">Nombre del Receptor</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Observación</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>

    <ion-row >
      <ion-col size="12">
        <ion-button class="button2">
          GUARDAR 
        </ion-button>
      </ion-col>
    </ion-row>
    