<h1 style="font-weight: bold; font-size: 15px; text-align: center;" >ENTREGADO A:</h1>
<!-- <ion-row>
    <ion-col size="12" >
      <ion-item>
        <ion-label>Titular</ion-label>
        <ion-checkbox color="primary"checked slot="start" ></ion-checkbox>
      </ion-item>

    </ion-col>
  </ion-row>
      <ion-item>
       <ion-label>Familiar</ion-label>
       <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
      </ion-item>


      <ion-item>
        <ion-label>Vecino (a)</ion-label>
        <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
     </ion-item>

      <ion-item>
        <ion-label>Conserjeria</ion-label>
        <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
      </ion-item>

      <ion-item>
         <ion-label>Otro</ion-label>
        <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
      </ion-item>


     -->
     <ion-grid>
      <ion-row>
        <ion-col>
         
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Titular</label>
        </ion-col>
        <ion-col>
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Familiar</label>
        </ion-col>
        <ion-col>
          
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Vecino (a)</label>
        </ion-col>
        <ion-col>
          
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Conserjeria</label>
        </ion-col>
        <ion-col>
          
            <input type="checkbox">
            <span class="checkmark"></span>
            <label class="container">Otro</label>
        </ion-col>
      </ion-row>
    </ion-grid>
      

    <ion-searchbar  [showCancelButton]="miStringDeCancell" (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>