.mat-dialog-container{
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100px;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
 
  font-size: 16px;
}
ion-icon {
  font-size: 28px;
 margin-left: 110px;
}

.button2{
  width: 130px;
  --background: #9a01cc;
  margin-left: 60px;
 
}