.buttonret{
    width: 250px;
    --background: #9a01cc;
    margin-left: auto;
    margin-right: auto;
}

.buttonret2{
    width: 130px;
    --background: #9a01cc;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
