<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div style="text-align: center;margin-bottom: 75px;margin-top: 25px;">
            <ion-avatar  style="margin-right: auto;margin-left: auto;width: 70px;height: 70px;" slot="start">
              <img src="assets/images/chris.jpg">
            </ion-avatar>
            <p style="font-size: 17px;font-weight: bold;">Christina Aguilera</p>
            <ion-note>Christina@gmail.com</ion-note>
          </div>
  

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item  [ngClass]="p.cog?'cog':''" class="item" style="margin-bottom: 10px;" routerDirection="root" [routerLink]="p.url" lines="none" detail="false" routerLinkActive="selected">
              <fa-icon style="color: #d1dae3;" [icon]="p.icon"></fa-icon>
              <ion-label style="margin-left: 20px;font-size: 17px;font-weight: bold;">{{ p.title }}</ion-label>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
