<div class="card">
  <p class="title">
    {{retiro.title}}
  </p>
  <ion-button class="buttonRowDown" style="margin-left: auto;" (click)="show = !show" >
    <ion-icon class="iconRowDown" *ngIf="!show" name="caret-down-outline"></ion-icon>
    <ion-icon class="iconRowDown" *ngIf="show" name="caret-up-outline"></ion-icon>
  </ion-button>
</div>
<div class="show" *ngIf="show">
  <p>ENCARGADO: {{retiro.encargado}}</p>
  <p>DIRECCIÓN: {{retiro.direccion}}</p>
  <p>DEPTO/TORRE: {{retiro.depto}}</p>
  <p>TÉLEFONO: {{retiro.telefono}}</p>
  <p>TÉLEFONO SECUNDARIO: {{retiro.telefonoSecndario}}</p>

  <div class="divBorder">
    <p>CANTIDAD DE PAQUETES</p>
     <ion-row style="text-align: center;color:#9a01cc;">
      <ion-col size="4">
        SANTIAGO <br> {{retiro.santiago}}
      </ion-col>
      <ion-col size="4">
        REGIONES <br> {{retiro.regiones}}
      </ion-col>
      <ion-col size="4">
        TOTAL <br> {{retiro.santiago + retiro.regiones}}
      </ion-col>
     </ion-row>
  </div>

  <div style="display: flex; text-align: center;">
    <ion-button style="--background: red;" class="buttonRetirado">
      NO RETIRADO
    </ion-button>
    <ion-button style="--background: green;" class="buttonRetirado">
      RETIRADO
    </ion-button>
  </div>
</div>
