<h1 style="font-weight: bold; font-size: 15px; text-align: center;" >MOTIVO</h1>



<mat-form-field appearance="fill">
 
  <select style=" background:white;" matNativeControl required>
    <option >Seleccione una opcion</option>
    <option >Domicilio sin moradores</option>
    <option >Direccion erronea</option>
    <option >Datos incompletos/erroneos</option>
    <option >Horarios de restriccion no informado</option>
    <option >Lugar sin acceso/acceso bloqueado</option>
    <option >Cliente no desea recibir</option>
    <option >Soporte indica cancelar entrega</option>
    <option >Problemas con cambio/devolucion</option>
  </select>
</mat-form-field>

<ion-icon  name="camera-outline"></ion-icon>
<ion-row >
  <ion-col size="12">
    <ion-button class="button2">
      GUARDAR 
    </ion-button>
  </ion-col>
</ion-row>