<h1
  style="font-weight: bold; font-size: 15px; text-align: center;"
>MOTIVO</h1>



<div
  style="
    text-align:center;
    margin-bottom: 15px;
  "
>
  <mat-form-field appearance="fill">

    <select style=" background:white;" matNativeControl required>
      <option >Seleccione una opcion</option>
      <option >Domicilio sin moradores</option>
      <option >Direccion erronea</option>
      <option >Datos incompletos/erroneos</option>
      <option >Horarios de restriccion no informado</option>
      <option >Lugar sin acceso/acceso bloqueado</option>
      <option >Cliente no desea recibir</option>
      <option >Soporte indica cancelar entrega</option>
      <option >Problemas con cambio/devolucion</option>
    </select>
  </mat-form-field>

</div>

<div
  style="
    margin-bottom: 25px;
    text-align:center;
  "
  >
  <a
    style="
      cursor: pointer;
      text-decoration: none !important;
      color:black;
      text-decoration: underline;

    "
    >
    <ion-icon
      name="camera-outline"
      style="
        margin-bottom: -7px;
        margin-left: 0px !important;
      "
    ></ion-icon>
    Subir Imagen
  </a>
</div>

<div style="text-align:center;">
  <ion-button class="button2">
    GUARDAR
  </ion-button>
</div>
